.theme button{
    position: fixed;
    top: 20px;
    left: 30px;
    background-color: #13657B;
    border: #A2F5E6;
    outline-color: #13657B;
    font-Size: 20px;
    color: #A2F5E6; 
    cursor:pointer
}